#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.iobj
*.exe
*.exp
*.lib
*.pdb
*.ipdb
*.ipch
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.asv
*.~
*.VC.db
*.opendb

# Ignore CMake cache and build directiories (assume build*/)
CmakeCache.txt
/build*/
**/CMakeFiles

# Ignore pycache folder
**/__pycache__/

# Ignore vscode config files
**/.vscode/

# Ignore sqlite db files
*.db-shm
*.db-wal

out
.vs
CMakeSettings.json
